* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #ffffff;
    width: 100vw;
    height: 14vh;
    display: flex;
    align-items: center;
    position: fixed;
}
.container-icon {
    width: 8vw;
    position: relative;
    left: 4vw;
}
ul {
    width: 59vw;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 5vw;
}
li {
    font-family: 'Montserrat';
    color: #9767A9;
    size: 1em;
    list-style: none;
}
li:hover {
    cursor: pointer;
    font-weight: bold;
}
.icon-explore {
    position: relative;
    left: 6.3vw;
    top: 1vh;
    z-index: 1;
}
input {
    padding-left: 2.2vw;
    height: 6vh;
    width: 13vw;
    position: relative;
    left: 3.8vw;
    border: solid 4px #9767A9;
    border-radius: 2em;
}
.container-social-midia {
    width: 12vw;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 4vw;
}
.container-background-image {
    background-image: url(assets/foto\ 01.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 140%;
    height: 130%;
}
.contain-text {
    width: 100%;
    height: 117vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
h1 {
    width: 18%;
    height: 52%;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    line-height: 1em;
}
.tips {
    width: 25%;
    height: 45%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 300;
}
.container-journey {
    background-color: #9767A9;
    width: 140%;
    height: 61vh;
}
.box-text {
    padding-top: 6vh;
    width: 130vw;
    height: 61vh;
    display: flex;
    justify-content: center;
}
h2 {
    width: 56vw;
    height: 28vh;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 3.3em;
}
.journey {
    width: 39vw;
    height: 40vh;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    text-align: left;
}
.princess {
    border: solid 4px blue;
    background-image: url(assets/princess.png);
    width: 50vw;
    height: 100vh;
}