* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #ffffff;
    width: 100vw;
    height: 14vh;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.container-icon {
    width: 8vw;
    position: relative;
    left: 4vw;
}
ul {
    width: 59vw;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 5vw;
}
li {
    font-family: 'Montserrat';
    color: #9767A9;
    size: 1em;
    list-style: none;
}
li:hover {
    cursor: pointer;
    font-weight: bold;
}
.icon-explore {
    position: relative;
    left: 6.3vw;
    top: 1vh;
    z-index: 1;
}
input {
    padding-left: 2.2vw;
    height: 6vh;
    width: 13vw;
    position: relative;
    left: 3.8vw;
    border: solid 4px #9767A9;
    border-radius: 2em;
}
.container-social-midia {
    width: 12vw;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 4vw;
}
main {
    padding-top: 6em;
}
.container-background-image {
    background-image: url(assets/foto\ 01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain-text {
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    width: 30%;
    height: 20vh;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    line-height: 1em;
    position: relative;
    left: 4vw;
    top: 7vh;
}
.tips {
    width: 35%;
    height: 13vh;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1em;
    font-weight: 300;
    position: relative;
    top: 7vh;
}
.container-journey {
    background-color: #9767A9;
    width: 100%;
    height: 61vh;
}
.box-text {
    padding-top: 6vh;
    width: 100%;
    height: 61vh;
    display: flex;
    justify-content: center;
}
h2 {
    width: 56vw;
    height: 28vh;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 3.3em;
}
.journey {
    width: 39vw;
    height: 40vh;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    text-align: left;
}
.container-steps {
    display: flex;
}
.container-steps img {
    width: 100%;
    height: 100%;
}
.container-steps p {
    padding-top: 2vh;
    margin-left: 1vw;
    color: #ffffff;
    width: 93%;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
.container-odd-steps {
    width: 40%;
    height: 100%;
    position: relative;
    bottom: 10vh;
    left: 10vw;
}
.container-pairs-steps {
    width: 40%;
    height: 100%;
    margin-top: 40vh;
    margin-left: 18vw;
}
h3 {
    padding-top: 2vh;
    margin-left: 1vw;
    color: #ffffff;
    width: 80%;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
}
.first-step-text {
    background-color: #9767A9;
    width: 30vw;
    height: 59vh;
    position: relative;
    left: 5vw;
    bottom: 15vh;
}
.second-step-text {
    background-color: #9767A9;
    width: 30vw;
    height: 54vh;
    position: relative;
    left: 5vw;
    bottom: 21vh;
}
.boy-beach {
    position: relative;
    bottom: 5vh;
}
.third-step-text {
    background-color: #9767A9;
    width: 30vw;
    height: 43vh;
    position: relative;
    left: 5vw;
    bottom: 30vh;   
}
.queen {
    position: relative;
    bottom: 5vh;
}
.fourth-step-text {
    background-color: #9767A9;
    width: 30vw;
    height: 49vh;
    position: relative;
    left: 5vw;
    bottom: 30vh;   
}
.mommy {
    position: relative;
    bottom: 4vh;
}
.fifth-step-text {
    background-color: #9767A9;
    width: 30vw;
    height: 46vh;
    position: relative;
    left: 5vw;
    bottom: 30vh;   
}
.shower {
    position: relative;
    bottom: 4vh;
}
.sixth-step-text {
    background-color: #9767A9;
    width: 30vw;
    height: 39vh;
    position: relative;
    left: 5vw;
    bottom: 30vh;    
}
.old {
    position: relative;
    bottom: 8vh;
}
.seventh-step-text {
    background-color: #9767A9;
    width: 30vw;
    height: 38vh;
    position: relative;
    left: 5vw;
    bottom: 30vh;   
}